# Port on the host machine to listen for RDP connection attempts (default: 3389)
HONEYPOT_PORT=3389

# Port on the host machine to access the SQLite Web Administration UI (default: 8080)
DB_ADMIN_PORT=8080

# Database file path inside the honeypot container
DATABASE_PATH=/app/data/RdpHoneypotLogs.db

# Path to the static JPG rendered to authenticated users (default: assets/desktop.jpg)
STATIC_JPG_PATH=assets/desktop.jpg

# Automatically drop connections from repeat RDP clients (set to false for testing)
AUTO_BAN_RDP_CLIENTS=true
